/* JetBrains Mono - local webfonts (size-adjust to reduce CLS vs fallback monospace) */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  ascent-override: 90%;
  descent-override: 22%;
  size-adjust: 100%;
  src: url(/fonts/jetbrains-mono-latin-300-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  ascent-override: 90%;
  descent-override: 22%;
  size-adjust: 100%;
  src: url(/fonts/jetbrains-mono-latin-400-normal.woff2) format('woff2');
}
